/* Colors preview:  
  https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557 
*/

$color-1: #e63946;
$color-2: #f1faee;
$color-3: #a8dadc;
$color-4: #457b9d;
$color-5: #1d3557;
$white: #fff;
$black: #000;
