@font-face {
	font-family: "Bw Gradual";
	src: url("./fonts/BwGradual-Regular/font.woff2") format("woff2"),
	url("./fonts/BwGradual-Regular/font.woff") format("woff");

	font-display: swap;
}
@font-face {
	font-family: "Apparel";
	src: url("./fonts/Apparel-Regular/font.woff2") format("woff2"),
	url("./fonts/Apparel-Regular/font.woff") format("woff");

	font-display: swap;
}
