@import "reset.scss";
@import "breakpoints";
@import "colors";
@import "mixins";
// VW to PX Converter
// ${(100 * value) / window.innerWidth}vw
// $vw-viewport: 1920;
// @function vw($value) {
// 	$vw-context: $vw-viewport * 0.01 * 1px;
// 	@return $value / $vw-context * 1vw;
// 	@return $value;
// }

* {
	box-sizing: border-box;
}
html {
	@include xl {
		height: 100%;
	}
}
body {
	position: relative;
	font-family: "Poppins", sans-serif;

	@include xl {
		height: 100%;
	}
}
#__next {
	@include xl {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
}
