@import "reset";
@import "fonts";
@import "breakpoints";
@import "colors";
@import "mixins";
// VW to PX Converter
// ${(100 * value) / window.innerWidth}vw
// $vw-viewport: 1920;
// @function vw($value) {
// 	$vw-context: $vw-viewport * 0.01 * 1px;
// 	@return $value / $vw-context * 1vw;
// 	@return $value;
// }

*,
*:before,
*:after {
	box-sizing: border-box;
}
html {
	@include xl {
		height: 100%;
	}
}
body {
	position: relative;
	font-family: "Titillium Web", sans-serif;
	font-size: 18px;
	line-height: 1.6;

	@include xl {
		height: 100%;
	}
}
#__next {
	@include xl {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}
}
